<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>invest-viewer</title>
    <link rel="stylesheet" href="theme.css">
</head>
<body>

<div class="container" id="app">
    <div class="card">
        <h1 class="mb-1 mb-2 p-2">{{ title }}</h1>

        <label>
            <input name="add"
                   :style="{
               color: textAreaInputValue?.length > 7 ? 'red' :
                      textAreaInputValue?.length > 3 ? 'orange' : 'black'
           }"
                   :placeholder="textAreaPlaceholder"
                   v-model="textAreaInputValue"
                   @keydown.enter="addNewCandle"/>
        </label>

        <button class="button primary" @click="addNewCandle">
            Добавить
        </button>

        <hr v-if="candles.length != 0"> <!-- отображать, если список свеч не пустой-->
        <div v-else>Свеч нет</div>
        <div>
            <ul>
                <li v-for="(candle, index) in candles">
                    <span :class="index > 3 ? 'span danger' : 'span primary'">{{ toUpperCase(candle)
                        }}</span>
                    <button class="button danger" @click="deleteLastCandle(index)">
                        Удалить
                    </button>
                </li>

                <hr>
                <li>
                    <strong>Общее количество: {{ candles.length }}</strong>
                    <strong>| {{ doubleThisValue }}</strong>
                </li>

            </ul>
        </div>
        <hr v-if="candles.length != 0"> <!-- отображать, если список свеч не пустой-->

        <div id="chart" style="width: 100%; height: 400px;"></div>
    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
<script src="app.js"></script>
</body>
</html>